@import "tailwindcss";


/* Used in LandingPage.jsx */
@keyframes gradientText {
    0%, 100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }
  
  .animated-ai {
    background-size: 200% 200%;
  }
  
  .animate-gradient {
    animation: gradientText 5s ease infinite;
  }
/* End of gradientText animation */

